@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

span {
  color: #45C4B0;
}

.box-section-one {
  height: 100vh;
  width: 100%;
  background: #012030;
}

.separation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 2em;
}

.container-header h2 {
  color: white;
  font-size: 2.1em;
  font-weight: bold;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8em;
  margin-right: 2em;
  background: white;
  width: 8em;
  height: 3em;
  border-radius: 2em;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  position: relative;
  font-size: 1.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li a i {
  position: absolute;
  font-size: 1.5em;
  color: #13678A;
}


.activeIcon {
  opacity: 0;
}

.navbar ul li.active-list a i {
  opacity: 1;
}


.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

.home h1 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.home p {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.info picture img {
  width: 30em;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #13678A;
  padding: 60px 0;
}

.about-me img {
  height: 400px;
  border-radius: 100%;
  border: 2px solid white;
  margin-bottom: 1em;
}

.about-me .info h2 {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
}

.info {
  text-align: center;
}

.about-me .info p {
  color: white;
  width: 20em;
  text-align: justify;
  margin-top: 2em;
  margin-bottom: 3em;
}

.about-me .info a {
  color: #ffff;
  background: transparent;
  height: 3em;
  width: 11em;
  padding: .5em;
  font-size: 18px;
  border: 3px dashed #012030;
  border-radius: 1.6em;

}

.about-me .info a:hover {
  background-color: #13678A;
  border: 3px solid #ade8f4;
  transition: 0.5s;
}

.attention {
  color: white;
  opacity: 1;
  transition-duration: 0.5;
}


.projects {
  background-color: #012030;
  padding: 60px 0;
}

.projects h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
}

.conj-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  width: 300px;
  height: 300px;
  margin-top: 5em;
  background-color: #13678A;
  border-radius: 5%;
  margin-right: 2em;
  padding-bottom: 2em;
  padding: 2em;
  text-align: center;
}

.cards a {
  color: #ffff;
  background: transparent;
  height: 3em;
  width: 11em;
  padding: .5em;
  font-size: 18px;
  border: 3px dashed #012030;
  border-radius: 1.6em;
}


.cards p {
  font-weight: bold;
  color: white;
  margin-top: 1em;
  margin-bottom: 10%;
}


.cards a:hover {
  background-color: #13678A;
  border: 3px solid #ade8f4;
  transition: 0.5s;
}


.cards h3 {
  color: white;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #13678A;
  padding: 60px 0;
}

footer button {
color: white;
background: #45C4B0;
padding: .5em;
font-size: 18px;
border: none;
border-radius: 1.6em;
margin-top: 1em;
}

footer button:hover{
  background-color: #DAFDBA;
  border: 3px solid #012030;
  transition: 0.5s;
}

footer h3 {
  text-align: center;
  font-size: 2em;
  color: white;
}


@media (max-width: 450px) {
  
  .separation header {
    display: none;
  }

   .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 3em;

  }

  .home img {
    height: 24.4em;
  }
    
}

::-webkit-scrollbar {
  background-color: #012030;
}

::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 10px;
}


